/*animate page*/
.animate-in {
    -webkit-animation: fadeIn .8s ease-in;
    animation: fadeIn .8s ease-in;
}

.animate-out {
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body
{
  padding: 0;
  margin: 0;
}

* ,html 
{
  font-family: 'Open Sans', sans-serif;
}
.video_comp
{
  margin: 0;
  position: fixed;
  top: 50%;
  left: 80%;
  -ms-transform: translate(-60%, -50%);
  transform: translate(-60%, -50%);
}

.b_right
{
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.l_right
{
  position: fixed;
  bottom: 20px;
  left: 40px;
}

.t_left
{
  position: fixed;
  top: 30px;
  left: 40px;
}

.t_right
{
  position: fixed;
  top: 30px;
  right: 50px;  
}

.l_right a, .b_right a, .t_right a, .t_left a
{
  text-decoration: none;
  color: black;
}


.link {
  position: relative;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.link:before,
.link:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 50%;
  background: #4ECA78;
  top: calc(50% + 2px);
  transition: transform .3s cubic-bezier(.5,.5,0,1);
}

.link:before {
  left: 0;
  transform: translateX(calc(-100% - 10px)) scaleX(0);
  transform-origin: left;
}

.link:after {
  right: 0;
  transform: translateX(calc(100% + 10px)) scaleX(0);
  transform-origin: right;
}

.link:hover:before {
  transform: translateX(calc(-100% - 10px)) scaleX(1);
  transform-origin: right;
}

.link:hover:after {
  transform: translateX(calc(100% + 10px)) scaleX(1);
  transform-origin: left;
}